.gradient-custom-2 {
    background-color: #fcfdfd;
    font-family: Arial, sans-serif; 
  }
  .editProfileButton {
    color: #fff;
    background-color: #000;
    font-family: Arial, sans-serif; 
  }
  .streaming-link {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #52057B;
    color: #fff;
    border-radius: 5px;
  }
  
 
  @media screen and (min-width: 576px) {
    .streaming-link {
      float: right;
      margin-right: 20px;
      margin-top: 10px;
    }
  }
  
  @media (max-width: 768px) {
  }