@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

.formContainer {
  background-color: #52057B;
  height: 100vh;
  display: flex;
  background-image: url('./img/imgbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
}
  .formWrapper{
    background-color: #892CDC;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

    .title {
      color: black;
      font-size: 12px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
}
      input {
        padding: 15px;
        border: none;
        width: 250px;
        border-bottom: 1px solid white;
        &::placeholder {
          color: rgb(189, 171, 171);
        }
      }

      label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;
        font-size: 12px;
        cursor: pointer;
}
       
