
.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to left, rgb(225, 113, 225), rgb(248, 136, 136), rgb(81, 104, 238));
  }
  
  .form-container {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    width: 90%;
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid black;
    font-size: 16px;
    font-family: Arial, sans-serif; 
  }
  
  button {
    padding: 10px 25px;
    background-color: purple;
    color: white;
    font-size: 16px;
    border-color: blueviolet;
    cursor: pointer;
    border: none;
    align-items: center;
    justify-content: center;
  }
  
  button:hover {
    background-color: pink;
    color: black;
    border: 2px solid rgb(225, 113, 225);
  }
  .link-container {
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif; 
  }
  .p-sign{
    display: flex;
    margin-top: 10px; 
    justify-content: center;
    font-family: Arial, sans-serif; 
  }
  .link-container a {
    text-decoration: none;
    color: purple;
    margin-top: 10px; 
   
  }
 .error{
  color: red;
  font-family: Arial, sans-serif; 
 }
 
  @media screen and (max-width: 600px) {
    .form-container {
      max-width: 300px;
    }
  }
  