@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}


.formContainerfor {
  background-color: #52057B;
  height: 100vh;
  display: flex;
  background-image: url('./img/imgbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
}
  .formWrapper{
    background-color: black;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
  

    .title {
      color: black;
      font-size: 12px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
}
      input {
        padding: 15px;
        border: none;
        width: 250px;
        border-bottom: 1px solid whitesmoke;
        &::placeholder {
          color: rgb(205, 6, 6);
        }
      }



      label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: black;
        font-size: 12px;
        cursor: pointer;

        img {
          width: 32px;
        }
      }
   
 